<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Filmes/Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-searchbar [(ngModel)]="termoBusca" (ionChange)="termoChanged($event)" (ionCancel)="termoCanceled($event)"></ion-searchbar>
 
    <ion-item>
      <ion-label>Escolha o Tipo da pesquisa</ion-label>
      <ion-select [(ngModel)]="tipo" (ionChange)="termoChanged($event)">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option value="movie">Filme</ion-select-option>
        <ion-select-option value="series">Série</ion-select-option>
        <ion-select-option value="episode">Episódio</ion-select-option>
        <ion-select-option value="game">Jogo</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-list>
   
      <ion-item button *ngFor="let filme of (resultados | async)" [routerLink]="['/filmes/', filme.imdbID]">
        <ion-avatar slot="start">
          <img [src]="filme.Poster" *ngIf="filme.Poster != 'N/A'">
        </ion-avatar>
   
        <ion-label text-wrap>
          <h3>{{ filme.Title }}</h3>
          {{ filme.Year }}
        </ion-label>
   
        <ion-icon slot="end" *ngIf="filme.Type == 'movie'" name="videocam"></ion-icon>
        <ion-icon slot="end" *ngIf="filme.Type == 'series'" name="tv"></ion-icon>
        <ion-icon slot="end" *ngIf="filme.Type == 'episode'" name="tv"></ion-icon>
        <ion-icon slot="end" *ngIf="filme.Type == 'game'" name="logo-game-controller-b"></ion-icon>
   
      </ion-item>
   
    </ion-list>

</ion-content>
